################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/TestStatelessOne/DesignTimeBuild
/.vs/TestStatelessOne/FileContentIndex
/.vs/TestStatelessOne/v17
/TestStatelessTwo/bin/Debug/net8.0
/TestStatelessTwo/obj/Debug/net8.0/refint
/TestStatelessTwo/obj/Debug/net8.0/ref
/TestStatelessTwo/obj/Debug/net8.0
/TestStatelessTwo/obj
